swagger: "2.0"
info:
  title: "PSP Signup API"
  version: "1.0.1"
  description: >
    The Vipps PSP Signup API allows PSPs to onboard and control their merchants.
  contact:
    name: Vipps AS
    email: integration@vipps.no
    url: https://vipps.no/
tags:
  - name: Merchant
    description: Merchants
  - name: SaleUnit
    description: Merchant Sale Units
host: api.vipps.no
schemes:
  - "https"
consumes:
  - application/json
produces:
  - application/json;charset=UTF-8
paths:
  /merchants:
    parameters:
      - $ref: "#/parameters/auth"
      - $ref: "#/parameters/apimKey"
    get:
      operationId: getMerchants
      summary: Get all merchants for the PSP
      tags:
       - Merchant
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/GetMerchantsResponse"
        '400':
          $ref: "#/responses/400"
        '401':
          $ref: "#/responses/401"
        '403':
          $ref: "#/responses/403"
        '405':
          $ref: "#/responses/405"
        '500':
          $ref: "#/responses/500"
    post:
      operationId: addMerchant
      summary: Add a merchant to the PSP
      tags:
        - Merchant
      parameters:
      - name: "merchant"
        in: "body"
        description: "merchant"
        required: true
        schema:
          $ref: "#/definitions/CreateMerchantRequest"
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/CreateMerchantResponse"
        '400':
          $ref: "#/responses/400"
        '401':
          $ref: "#/responses/401"
        '403':
          $ref: "#/responses/403"
        '405':
          $ref: "#/responses/405"
        '415':
          $ref: "#/responses/415"
        '500':
          $ref: "#/responses/500"
  /merchants/{merchantSerialNumber}:
    parameters:
      - $ref: "#/parameters/auth"
      - $ref: "#/parameters/apimKey"
      - $ref: "#/parameters/merchantSerialNumber"
    get:
      operationId: getMerchant
      summary: Get merchant by Id for the PSP
      tags:
       - Merchant
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/Merchant"
        '400':
          $ref: "#/responses/400"
        '401':
          $ref: "#/responses/401"
        '403':
          $ref: "#/responses/403"
        '404':
          $ref: "#/responses/404"
        '405':
          $ref: "#/responses/405"
        '500':
          $ref: "#/responses/500"
    patch:
      operationId: patchMerchant
      summary: Update a merchant for the PSP
      tags:
       - Merchant
      parameters:
      - name: "merchant"
        in: "body"
        description: "merchant"
        required: true
        schema:
          $ref: "#/definitions/UpdateMerchantRequest"
      responses:
        '200':
          description: OK
        '400':
          $ref: "#/responses/400"
        '401':
          $ref: "#/responses/401"
        '403':
          $ref: "#/responses/403"
        '404':
          $ref: "#/responses/404"
        '405':
          $ref: "#/responses/405"
        '415':
          $ref: "#/responses/415"
        '500':
          $ref: "#/responses/500"
responses:
  "400":
    description: Invalid request, check request parameters
    schema:
      $ref: "#/definitions/Error"
  "401":
    description: Unauthorized
  "403":
    description: Forbidden
    schema:
      $ref: "#/definitions/Error"
  "404":
    description: Item does not exist
    schema:
      $ref: "#/definitions/Error"
  "405":
    description: Request method not supported
    schema:
      $ref: "#/definitions/Error"
  "415":
    description: Unsupported media type
    schema:
      $ref: "#/definitions/Error"
  "500":
    description: Internal server error
    schema:
      $ref: "#/definitions/Error"
parameters:
  merchantSerialNumber:
    name: merchantSerialNumber
    type: string
    in: path
    required: true
    description: The Vipps merchant serial number
    example: "123456"
  auth:
    name: Authorization
    in: header
    required: true
    description: Bearer 'auth token'
    type: string
    example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni"
  apimKey:
    name: Ocp-Apim-Subscription-Key
    in: header
    description: Subscription key for the PSP Signup API
    required: true
    type: string
    example: "fnhrt8457fbfl23743b"
definitions:
  Merchant:
    properties:
      merchantSerialNumber:
        type: string
        description: Vipps sale unit's merchant serial number
      organizationNumber:
        type: string
        pattern: '^\d{6}$'
        minLength: 6
        maxLength: 6
        example: "123456"
      companyName:
        type: string
        example: "Vipps AS"
      companyEmail:
        type: string
        example: "user@example.com"
      name:
        type: string
        example: "Rune Garborg"
      status:
        type: string
        enum:
          - ACTIVE
          - DEACTIVATED
          - PENDING
      logo:
        type: string
        description: Base64 encoded
      email:
        type: string
        description: Email of sale unit contact or PSP contact
        format: email
        example: "user@example.com"
      website:
        type: string
        description: Website of sale unit or PSP
        format: uri
        example: "https://example.com"
      address:
        $ref: '#/definitions/Address'
      createdAt:
        type: string
        format: date-time
      updatedAt:
        type: string
        format: date-time
  GetMerchantsResponse:
    type: object
    properties:
      merchants:
        type: array
        description: List of Sale Unit details
        items:
          $ref: "#/definitions/Merchant"
  CreateMerchantRequest:
    properties:
      organizationNumber:
        type: string
        pattern: '^\d{9}$'
        minLength: 9
        maxLength: 9
        example: "918713867"
      name:
        type: string
        maxLength: 200
        example: "Rune Garborg"
      logo:
        type: string
        description: Base64 encoded
      email:
        type: string
        description: Email id of sale unit contact or PSP contact
        format: email
        maxLength: 255
        example: "user@example.com"
      website:
        type: string
        description: Website of sale unit or PSP
        format: uri
        maxLength: 255
        example: "https://example.com"
      address:
        $ref: '#/definitions/Address'
      companyName:
        type: string
        maxLength: 255
        example: "Vipps AS"
      companyEmail:
        type: string
        maxLength: 255
        example: "user@example.com"
    required:
      - name
      - address
      - logo
      - organizationNumber
      - companyName
      - companyEmail
  UpdateMerchantRequest:
    properties:
      deactivate:
        type: boolean
      name:
        type: string
        maxLength: 200
        example: "Vipps AS"
      logo:
        type: string
        description: Base64 encoded
      email:
        type: string
        description: Email id of sale unit contact or PSP contact
        format: email
        maxLength: 255
        example: "user@example.com"
      website:
        type: string
        description: Website of sale unit or PSP
        format: uri
        maxLength: 255
        example: "https://example.com"
      address:
        $ref: '#/definitions/Address'
  CreateMerchantResponse:
    properties:
      merchantSerialNumber:
        type: string
        description: The Vipps saleunit's merchant serial number
  Address:
    type: object
    description: Address details
    required:
      - addressLine1
      - city
      - countryCode
      - postCode
    properties:
      addressLine1:
        type: string
        description: Address Line 1
        example: 'Robert Levins gate 5'
        maxLength: 255
      addressLine2:
        type: string
        description: Address Line 2
        example: 'Att: Rune Garborg'
        maxLength: 255
      city:
        type: string
        description: City
        example: 'Oslo'
        maxLength: 255
      countryCode:
        type: string
        description: Two letter country code based on ISO 3166
        pattern: '^\w{2}$'
        minLength: 2
        maxLength: 2
        example: 'NO'
        enum:
          - 'NO'
      postCode:
        type: string
        description: Postcode
        pattern: '^\d{4}$'
        minLength: 4
        maxLength: 4
        example: '0154'
  Error:
    type: object
    required:
      - status
      - title
      - detail
      - instance
    properties:
      type:
        type: "string"
        description: |
          "A URI reference that identifies the problem type"
        example: "https://example.net/validation-error"
      title:
        type: "string"
        description: |
          "A short, human-readable summary of the problem type"
        example: "Postcode validation error"
      status:
        type: "number"
        description: |
          "The HTTP status code generated by the origin server for this occurrence of the problem"
        example: "400"
      detail:
        type: "string"
        description: |
          "A human-readable explanation specific to this occurrence of the problem.
          The detail member, if present, ought to focus on helping the client correct the problem,
          rather than giving debugging information."
        example: "Postcode must be four digits"
      instance:
        type: "string"
        description: |
          "A URI reference that identifies the specific occurrence of the problem"
        example: "https://example.net/validation-error/postcode"
