swagger: '2.0'
info:
  description: >

    The Vipps PSP API allows PSPs to process Vipps payments as a part
    of their payment offerings. PSPs have full transactional control of
    payments initiated in their payment terminals.

    The Vipps PSP API allows PSPs to initiate payments that end users accept
    with the Vipps app. When the customer confirms the payment, Vipps enriches
    the payment data with encrypted credit card details and hand over the
    payment processing to the PSP.

  version: '1.0.6'
  title: PSP API v2
host: 'apitest.vipps.no'
basePath: /psp
tags:
  - name: Vipps PSP API
    description: Endpoints and operations in the PSP API
  - name: Vipps PSP API v3
    description: Endpoints and operations in the PSP API v3 [DRAFT]
  - name: Endpoints required by Vipps from the PSP
    description: Calls from Vipps to the PSP
  - name: Endpoints required by Vipps from the PSP for network token
    description: Calls from Vipps to the PSP [DRAFT]
paths:
  /v3/psppayments/init:
    post:
      tags:
        - Vipps PSP API v3
      summary: Initiate a PSP payment with Network Tokens
      operationId: initiatePaymentV3UsingPOST
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT
          required: true
          type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the PSP API. This is the PSP's key, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: Psp-Id
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: Merchant-Serial-Number
          in: header
          description: The Vipps number (MSN) for the merchant's sales unit.
          required: true
          type: string
        - in: body
          name: pspInitiatePaymentRequest
          description: pspInitiatePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/InitiatePaymentRequest'
      responses:
        200:
          description: "OK"
          schema:
            $ref: '#/definitions/PaymentInitiationRepresentation'
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  /v2/psppayments/init:
    post:
      tags:
        - Vipps PSP API
      summary: Initiate a PSP payment
      operationId: initiatePaymentV2UsingPOST
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT
          required: true
          type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the PSP API. This is the PSP's key, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: psp-id
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: merchant-serial-number
          in: header
          description: The Vipps number (MSN) for the merchant's sales unit.
          required: true
          type: string
        - in: body
          name: pspInitiatePaymentRequest
          description: pspInitiatePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/InitiatePaymentRequest'
      responses:
        200:
          description: "OK"
          schema:
            $ref: '#/definitions/PaymentInitiationRepresentation'
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  /v2/psppayments/payments:
    post:
      tags:
        - Vipps PSP API
      summary: Get card data to process a payment with token
      operationId: processPaymentOnToken
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT-TOKEN
          required: true
          type: string
          default: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the product. Can be found in Vipps developer portal
          required: true
          type: string
        - name: PSP-ID
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
          default: C948DFD1546347568874C4DDC93A2E3C
        - name: MERCHANT-SERIAL-NUMBER
          in: header
          description: Identifies a merchant
          required: true
          type: string
          default: '123456'
        - name: User-Token
          in: header
          description: JWT-TOKEN
          required: true
          type: string
          default: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
        - in: body
          name: ProcessPaymentOnToken
          description: ProcessPaymentOnToken
          required: true
          schema:
            $ref: '#/definitions/ProcessPaymentOnToken'
      responses:
        '200':
          description: "OK"
          schema:
            $ref: '#/definitions/PaymentTokenRepresentation'
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  /v2/psppayments/agreements:
    delete:
      tags:
        - Vipps PSP API
      summary: Delete a payment agreement
      operationId: deletePSPPaymenAgreementUsingDELETE
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT-TOKEN
          required: true
          type: string
          default: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
        - name: MERCHANT-SERIAL-NUMBER
          in: header
          description: Identifies a merchant
          required: true
          type: string
          default: '123456'
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the product. Can be found in Vipps developer portal
          required: true
          type: string
        - name: PSP-ID
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
          default: C948DFD1546347568874C4DDC93A2E3C
        - name: User-Token
          in: header
          description: JWT-TOKEN
          required: true
          type: string
          default: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  /v3/psppayments/payments:
    post:
      tags:
        - Vipps PSP API v3
      summary: Get card data to process a payment with token
      operationId: processPaymentOnTokenV3
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT-TOKEN
          required: true
          type: string
          default: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the product. Can be found in Vipps developer portal
          required: true
          type: string
        - name: Psp-Id
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
          default: C948DFD1546347568874C4DDC93A2E3C
        - name: Merchant-Serial-Number
          in: header
          description: Identifies a merchant
          required: true
          type: string
          default: '123456'
        - name: User-Token
          in: header
          description: JWT-TOKEN
          required: true
          type: string
          default: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI
        - in: body
          name: ProcessPaymentOnToken
          description: ProcessPaymentOnToken
          required: true
          schema:
            $ref: '#/definitions/ProcessPaymentOnToken'
      responses:
        '200':
          description: "OK"
          schema:
            $ref: '#/definitions/PaymentTokenRepresentationV3'
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorMessage'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  [makePaymentUrl]:
    post:
      tags:
        - Endpoints required by Vipps from the PSP
      summary: Service endpoint exposed by the PSP
      description: >
        Used to transfer credit card data
        from TSP to PSP to complete initialized transaction.
        Outcome of transactional processing (RESERVE|CAPTURE|REJECT) will be
        shown at PSP payment console but Vipps must be informed if payment is
        refused (credit card expired, not enough funds etc) or OK.

        Communication security is established by using 1-way SSL and makePaymentToken
      operationId: makePaymentSwaggerUsingPOST
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Token provided by the PSP as 'makePaymentToken' in the /v2/psppayments/init call.
          required: true
          type: string
        - in: body
          name: makePaymentRequest
          description: makePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/MakePaymentRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MakePaymentResponse'
      deprecated: false
  [makePaymentUrlV3]:
    post:
      tags:
        - Endpoints required by Vipps from the PSP for network token
      summary: Service endpoint exposed by the PSP
      description: >
        Used to the card network token
        from Token Requestor Service to PSP to complete initialized transaction.
        Outcome of transactional processing (RESERVE|CAPTURE|REJECT) will be
        shown at PSP payment console but Vipps must be informed if payment is
        refused (credit card expired, not enough funds etc) or OK.

        Communication security is established by using 1-way SSL and makePaymentToken
      operationId: makePaymentV3UsingPOST
      consumes:
        - application/json;charset=UTF-8
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: Authorization
          in: header
          description: Token provided by the PSP as 'makePaymentToken' in the /v3/psppayments/init call.
          required: true
          type: string
        - in: body
          name: makePaymentRequest
          description: makePaymentRequest
          required: true
          schema:
            $ref: '#/definitions/MakePaymentRequestV3'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MakePaymentResponse'
      deprecated: false
  /v2/psppayments/updatestatus:
    post:
      tags:
        - Vipps PSP API
      summary: Update the status of the PSP transaction.
      description: >
        Since Vipps doesn’t process the PSP transactions, updates on payment status are
        required in order to deliver expected customer experience. That means
        that PSP has to inform Vipps about any PSP payment status change through this endpoint.
        Valid requests get a HTTP 200 response, but the actual update is done in
        a batch job during the night. See the API guide for more details:
        https://github.com/vippsas/vipps-psp-api/blob/master/vipps-psp-api.md#batch-processing-of-status-updates
      operationId: updatestatusUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT
          required: true
          type: string
        - name: merchant-serial-number
          in: header
          description: The Vipps number (MSN) for the merchant's sales unit.
          required: true
          type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the PSP API. This is the PSP's key, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: psp-id
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
        - in: body
          name: pspPaymentStatus
          description: pspPaymentStatus
          required: true
          schema:
            $ref: '#/definitions/PaymentStatus'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Response'
        '400':
          description: Bad Request
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
  '/v2/psppayments/{pspTransactionId}/details':
    get:
      tags:
        - Vipps PSP API
      summary: Get the details of the PSP payment
      operationId: getPSPPaymentDetailsUsingGET
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          description: Bearer JWT
          required: true
          type: string
        - name: merchant-serial-number
          in: header
          description: The Vipps number (MSN) for the merchant's sales unit.
          required: true
          type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          description: Subscription key for the PSP API. This is the PSP's key, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: psp-id
          in: header
          description: PSP id as provided by Vipps. This is the PSP's id, and the same for all the PSP's merchants.
          required: true
          type: string
        - name: pspTransactionId
          in: path
          description: Used as a globally unique per PSP transaction reference for the PSP systems
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PaymentDetailsRepresentation'
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorDetails'
        '503':
          description: Service unavailable
        '504':
          description: Gateway Timeout
      deprecated: false
definitions:
  ErrorDetails:
    type: object
    properties:
      developerMsg:
        type: string
      errorCode:
        type: string
      errorField:
        type: string
      errorKey:
        type: string
      errorMessage:
        type: string
    title: ErrorDetails
  ErrorMessage:
    type: object
    properties:
      errorId:
        type: string
        example: 82
        description: PSP native ID of the error
      errorText:
        type: string
        example: Refused by Issuer
        description: PSP native textual representation of the error
    title: ErrorMessage
  Scope:
    type: string
    title: Scope
    description: A scope for future payments you want to process with the userToken. Current available scopes are "psp_subscription"
    example: "psp_subscription"
  Response:
    type: object
    properties:
      responseInfo:
        type: object
        properties:
          responseCode:
            type: string
            example: "9000"
          responseMessage:
            type: string
            example: "SUCCESS"
  PaymentInitiationRepresentation:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: 8874C4DDC93A2E3C
        description: Uniquely identifies a payment order for a merchant
      vippsRedirectUrl:
        type: string
        example: 'https://psp-redirect.example.com'
        description: Vipps URL where customer can enter their mobile number
    title: PaymentInitiationRepresentation
  PaymentTokenRepresentation:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: 8874C4DDC93A2E3C
        description: Uniquely identifies a payment order for a merchant
      cardData:
        type: string
        example: 'f0a29801b4#d4ff30e221fa2980ff30e2'
        description: "`{CardNumber:16-19},{ExpiryDate:4},{SessionId:1-32}` format string transformed into a 256 bytes OEAP cryptogram, which is encoded as 344-characters base64 string."
    title: PaymentTokenRepresentation
  PaymentTokenRepresentationV3:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: 8874C4DDC93A2E3C
        description: Uniquely identifies a payment order for a merchant
      networkToken:
        type: string
        example: "5000000000000000001"
        description: "Network token of the card, up to 19 digits"
      tvv:
        type: string
        example: "f0a29801b4#d4ff30e221fa2980ff30e2"
        description: The cryptogram for processing with this token Alphabetic, numeric; maximum 28 characters
    title: PaymentTokenRepresentationV3
  MakePaymentRequest:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      merchantSerialNumber:
        type: string
        description: The Vipps number (MSN) for the merchant's sales unit.
        minLength: 6
        maxLength: 6
        example: 123456
        pattern: '^\d{6}$'
      cardData:
        type: string
        example: 'f0a29801b4#d4ff30e221fa2980ff30e2'
        description: "`{CardNumber:16-19},{ExpiryDate:4},{SessionId:1-32}` format string transformed into a 256 bytes OEAP cryptogram, which is encoded as 344-characters base64 string."
      confirmed:
        type: string
        example: YES
        description: Credit Card Details Encryption Status
        enum:
          - YES
          - TIMEOUT
          - CANCEL
          - NO
      userToken:
        description: JWT-TOKEN
        type: string
        example: eyJh123
      operations:
        type: array
        items:
          $ref: '#/definitions/Operation3DSecure'
    title: MakePaymentRequest
  MakePaymentRequestV3:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      merchantSerialNumber:
        type: string
        description: The Vipps number (MSN) for the merchant's sales unit.
        minLength: 6
        maxLength: 6
        example: 123456
        pattern: '^\d{6}$'
      paymentState:
        type: string
        example: ACCEPTED
        description: Credit Card Details Encryption Status
        enum:
          - ACCEPTED
          - TIMEOUT
          - USER_CANCEL
      userToken:
        description: JWT-TOKEN
        type: string
        example: eyJh123
      operations:
        type: array
        items:
          $ref: '#/definitions/Operation3DSecure'
      paymentInstrument:
        $ref: '#/definitions/PaymentInstrument'
      networkToken:
        $ref: '#/definitions/NetworkToken'
      cardData:
        type: string
        example: 'f0a29801b4#d4ff30e221fa2980ff30e2'
        description: "`{CardNumber:16-19},{ExpiryDate:4},{SessionId:1-32}` format string transformed into a 256 bytes OEAP cryptogram, which is encoded as 344-characters base64 string."
    title: MakePaymentRequestV3
  NetworkToken:
    type: object
    properties: 
      number:
        type: string
        example: "5000000000000000001"
        description: "Network token of the card, up to 19 digits"
      cryptogram:
        type: string
        description: The cryptogram for processing with this token
        example: "aFgdgjdkfgjdFDF="
      expiryMonth:
        type: string
      expiryYear:
        type: string
      tokenType:
        $ref: '#/definitions/TokenType'
      trid:
        type: string
  PaymentInstrument:
    type: string
    enum:
      - TOKEN
      - ENCRYPTEDCARD
  TokenType:
    type: string
    enum:
      - VISA
      - MASTERCARD
  MakePaymentResponse:
    type: object
    properties:
      errorMessage:
        $ref: '#/definitions/ErrorMessage'
      paymentInfo:
        $ref: '#/definitions/PaymentInfo'
    title: MakePaymentResponse
  InitiatePaymentRequest:
    type: object
    required:
      - pspTransactionId
      - merchantOrderId
      - amount
      - currency
      - pspRedirectUrl
      - makePaymentUrl
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        pattern: "[a-z0-9]"
        maxLength: 30
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: order123abc
        pattern: "[a-z0-9]"
        maxLength: 30
        description: Uniquely identifies a payment order for a merchant
      customerMobileNumber:
        type: string
        example: 92929292
        maxLength: 8
        pattern: '^\d{8}'
        description: Mobile number (eight digits) of the user who has to pay for the transaction from Vipps.
      amount:
        type: integer
        format: int32
        example: 20000
        description: Amount should be specified in øre.
      currency:
        type: string
        example: NOK
        default: NOK
        description: ISO 4217 defined currency code. Vipps currently only supports NOK.
      pspRedirectUrl:
        type: string
        example: 'https://psp-redirect.example.com'
        description: Vipps will use this URL to redirect end user after payment confirmation
      makePaymentUrl:
        type: string
        example: 'https://psp-makepayment.example.com'
        description: PSP URL used by Vipps to send the card data
      makePaymentToken:
        type: string
        example: ynuiu
        description: Authorization header for MakePayment call
      paymentText:
        type: string
        example: 'One pair of Vipps socks'
        description: Text to be displayed to end user
      isApp:
        type: boolean
        example: true
        default: false
        description: Indicates whether payment request is triggered from Mobile App or Web browser
      skipLandingPage:
        type: boolean
        example: true
        default: false
        description: Skips the landing page for whitelisted sale units. Requires a valid customerMobileNumber.
      scope:
        type: string
        example: psp_subscription
        description: PSP Transaction Status to be updated in Vipps
        enum:
          - psp_subscription
    title: InitiatePaymentRequest
  PaymentDetailsRepresentation:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: order123abc
        description: Uniquely identifies a payment order for a merchant
      transactionSummary:
        $ref: '#/definitions/TransactionSummary'
      transactionLogHistory:
        type: array
        items:
          $ref: '#/definitions/PaymentTransactionDetails'
    title: PaymentDetailsRepresentation
  ProcessPaymentOnToken:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique transaction reference for the PSP systems
      merchantOrderId:
        type: string
        example: 8874C4DDC93A2E3C
        description: Uniquely identifies a payment order for a merchant
      amount:
        type: integer
        format: int32
        example: 100
        description: Amount should be specified in Øre. 100 Øre conversion 1.00 NOK
      currency:
        type: string
        example: NOK
        description: ISO 4217 defined currency code. Currently Vipps only supports NOK
      makePaymentUrl:
        type: string
        example: 'https://makePaymentURL'
        description: PSP URL used by Vipps to send the card data
      makePaymentToken:
        type: string
        example: ynuiu
        description: Authorization header for MakePayment call
      paymentText:
        type: string
        example: 'Description of payment'
        description: Text to be displayed to end user
    title: ProcessPaymentOnToken
  PaymentTransactionDetails:
    type: object
    properties:
      amount:
        type: integer
        format: int32
        example: 20000
        description: Amount should be specified in øre.
      paymentText:
        type: string
        example: 'One pair of Vipps socks'
        description: Transaction Note sent by PSP
      timeStamp:
        type: string
        example: '2018-06-13T18:34:25-07:00'
        description: Timestamp in ISO-8601 representing when Vipps did the payment
      operation:
        type: string
        example: REFUNDED
        description: Transaction Status
      operationSuccess:
        type: boolean
        example: false
        description: Success or failure for the given operation
    title: PaymentTransactionDetails
  PaymentStatus:
    type: object
    properties:
      transactions:
        type: array
        items:
          $ref: '#/definitions/TransactionInfo'
    title: PaymentStatus
  TransactionInfo:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      status:
        type: string
        example: CAPTURED
        description: PSP Transaction Status to be updated in Vipps
        enum:
          - RESERVED
          - CAPTURED
          - CANCELLED
          - REFUNDED
      amount:
        type: integer
        format: int32
        example: 20000
        description: Amount should be specified in øre.
      currency:
        type: string
        example: NOK
        default: NOK
        description: ISO 4217 defined currency code. Vipps currently only supports NOK.
      paymentText:
        type: string
        example: 'One pair of Vipps socks'
      operationStatus:
        type: string
        example: SUCCESS
        default: SUCCESS
        description: The operation result for the status performed (ie imforming a reserve failed for recurring processing)
        enum:
          - FAILED
          - SUCCESS
    title: TransactionInfo
    required:
      - pspTransactionId
      - status
      - amount
  PaymentInfo:
    type: object
    properties:
      pspTransactionId:
        type: string
        example: 7686f7788898767977
        description: Used as a globally unique per PSP transaction reference for the PSP systems
      status:
        type: string
        example: OK
        default: OK
        description: Status of the transaction
        enum:
          - OK
          - FAIL
          - SOFT_DECLINE
      url3dSecure:
        type: string
        example: https://example.com/
        description: If the end user needs go through a 3D Secure flow, this URL is set.
    title: PaymentInfo
  TransactionSummary:
    type: object
    properties:
      capturedAmount:
        type: integer
        format: int32
        example: 0
        description: Total amount captured in øre
      remainingAmountToCapture:
        type: integer
        format: int32
        example: 0
        description: Total remaining amount to capture in øre
      refundedAmount:
        type: integer
        format: int32
        example: 1200
        description: Total refunded amount in øre
      remainingAmountToRefund:
        type: integer
        format: int32
        example: 0
        description: Total remaining amount to refund in øre
    title: TransactionSummary
  Operation3DSecure:
    type: object
    properties:
      url:
        type: string
        example: https://vipps.no/mobileintercept?transactionId=123456789&responsecode=OK
        description: The redirect url to use for the operation.
      operation:
        type: string
        example: 3dssuccess
        description: The 3D Secure result status
        enum:
          - 3dssuccess
          - 3dscancel
          - 3dsfailure
