{
  "swagger": "2.0",
  "info": {
    "description": "\nThe Vipps PSP API allows PSPs to process Vipps payments as a part\nof their payment offerings. PSPs have full transactional control of\npayments initiated in their payment terminals.\nThe Vipps PSP API allows PSPs to initiate payments that end users accept\nwith the Vipps app. When the customer confirms the payment, Vipps enriches\nthe payment data with encrypted credit card details and hand over the\npayment processing to the PSP.\n",
    "version": "1.0.1",
    "title": "PSP API V2"
  },
  "host": "apitest.vipps.no",
  "basePath": "/psp",
  "tags": [
    {
      "name": "Vipps PSP API",
      "description": "Endpoints and operations in the PSP API"
    },
    {
      "name": "Endpoints required by Vipps from the PSP",
      "description": "Calls from Vipps to the PSP"
    }
  ],
  "paths": {
    "/v2/psppayments/init": {
      "post": {
        "tags": [
          "Vipps PSP API"
        ],
        "summary": "Initiate a PSP Payment",
        "operationId": "initiatePaymentV2UsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer JWT",
            "required": true,
            "type": "string",
            "default": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription key for the product. Can be found in Vipps developer portal",
            "required": true,
            "type": "string",
            "default": "c1b1a8846ec56d09db39bd3b5403bf9"
          },
          {
            "name": "PSP-ID",
            "in": "header",
            "description": "PSP ID as provided by Vipps",
            "required": true,
            "type": "string",
            "default": "C948DFD1546347568874C4DDC93A2E3C"
          },
          {
            "name": "MERCHANT-SERIAL-NUMBER",
            "in": "header",
            "description": "Identifies a merchant",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "in": "body",
            "name": "pspInitiatePaymentRequest",
            "description": "pspInitiatePaymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentInitiationRepresentation"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetails"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetails"
              }
            }
          },
          "503": {
            "description": "Service unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          }
        },
        "deprecated": false
      }
    },
    "makePaymentUrl": {
      "post": {
        "tags": [
          "Endpoints required by Vipps from the PSP"
        ],
        "summary": "Service end-point exposed by PSP. Used to transfer credit card data from TSP to PSP to complete initialized transaction.\nOutcome of transactional processing (RESERVE|CAPTURE|REJECT) will be shown at PSP payment console but Vipps must be informed if payment is refused (credit card expired, not enough funds etc) or OK.\n\nCommunication security is established by using 1-way SSL and makePaymentToken",
        "operationId": "makePaymentSwaggerUsingPOST",
        "consumes": [
          "application/json;charset=UTF-8"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string",
            "default": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription key for the product. Can be found in Vipps developer portal",
            "required": true,
            "type": "string",
            "default": "c1b1a8846ec56d09db39bd3b5403bf9"
          },
          {
            "name": "PSP-ID",
            "in": "header",
            "description": "PSP ID as provided by Vipps",
            "required": true,
            "type": "string",
            "default": "C948DFD1546347568874C4DDC93A2E3C"
          },
          {
            "name": "MERCHANT-SERIAL-NUMBER",
            "in": "header",
            "description": "Identifies a merchant",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "in": "body",
            "name": "makePaymentRequest",
            "description": "makePaymentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MakePaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MakePaymentResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/psppayments/updateStatus": {
      "post": {
        "tags": [
          "Vipps PSP API"
        ],
        "summary": "Update the status of the PSP transaction. Since Vipps doesn’t process transactions, updates on payment status are required in order to deliver expected customer experience. That means that PSP has to inform Vipps about any psp payment status change through this service",
        "operationId": "updateStatusUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer JWT-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          {
            "name": "MERCHANT-SERIAL-NUMBER",
            "in": "header",
            "description": "Identifies a merchant",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription key for the product. Can be found in Vipps developer portal",
            "required": true,
            "type": "string",
            "default": "c1b1a8846ec56d09db39bd3b5403bf9"
          },
          {
            "name": "PSP-ID",
            "in": "header",
            "description": "PSP ID as provided by Vipps",
            "required": true,
            "type": "string",
            "default": "C948DFD1546347568874C4DDC93A2E3C"
          },
          {
            "in": "body",
            "name": "pspPaymentStatusDTO",
            "description": "pspPaymentStatusDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetails"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetails"
              }
            }
          },
          "503": {
            "description": "Service unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          }
        },
        "deprecated": false
      }
    },
    "/v2/psppayments/{pspTransactionId}/details": {
      "get": {
        "tags": [
          "Vipps PSP API"
        ],
        "summary": "The details of PSP Payment",
        "operationId": "getPSPPaymentDetailsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer JWT-TOKEN",
            "required": true,
            "type": "string",
            "default": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJvcmdhbml6YXRpb25OdW1iZXIiOiI5MTg3MTM4NjciLCJpc3MiOiJ2aXBwcy5ubyIsImV4cCI6MTY0NDc0Mzg5NywiYWNjb3VudE51bWJlciI6IjE4MDAwMDAwMDAwIn0.mqO4RsidM_-twRfCvgNnXUUPrXaTgFVMvkJTVmJgtmbHziMVxHnG9moHpEj90_A3MRPp_jucdgMnqixgExOykJCLX6VsiUB0qMLXTgBE7Mmkz3lk0jCgv7OwYDJuLksrXvLepD68KdyDTCVwPxdgqh_H9Tea7S3gSYUnYoNkNP5h7Eyvai6U7BuJVcoE5ckO1ZjGmOvNlfHUbAZYBH8I5RV96bnmEtdtkojrkoZtT7HjueyTZODfdaOyvI5VfMLKbr9qGkYKP0UBKTp9ST5eV-W_Y062PgOsfRNXL2-ltKgn0vDkpUWYGiA8Y98ondXLF1kQIc8pAFPAwhzWG31oM_wKeOjjjK-2lMg1X1LjTk-zbq0HBilhQzbXdW0PHws0p1UZgviW-bdIwRfcjn1ysEqzS0HzDuaRTGIQDeld3MrtcwLLce7PT4rSGZeoJM-pUTidztzX48pFUixLm-aa1-SWnbRIqUufmsylSJNZXjgS06pISGUMKPiAdSjINY17x8YkeptS1B_r56oshRY8BFffCPxtMJI1BAWYQBCQ8WvUadlWNrQ477kUuvauEPRK_eyXT83cANaEa39lBPz4J3PHAE6grV4c3G_rClFzaFl1mzrhUABKJ3CpP_q7LmkboXSI5xx0BkyIb4wG_eG1s7_E_P_T0hIj3CTBNZnu7mI"
          },
          {
            "name": "MERCHANT-SERIAL-NUMBER",
            "in": "header",
            "description": "Identifies a merchant",
            "required": true,
            "type": "string",
            "default": "123456"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription key for the product. Can be found in Vipps developer portal",
            "required": true,
            "type": "string",
            "default": "c1b1a8846ec56d09db39bd3b5403bf9"
          },
          {
            "name": "PSP-ID",
            "in": "header",
            "description": "PSP ID as provided by Vipps",
            "required": true,
            "type": "string",
            "default": "C948DFD1546347568874C4DDC93A2E3C"
          },
          {
            "name": "pspTransactionId",
            "in": "path",
            "description": "Used as a globally unique transaction reference for the PSP systems",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentDetailsRepresentation"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorDetails"
              }
            }
          },
          "503": {
            "description": "Service unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "BaseErrorResult": {
      "type": "object",
      "title": "BaseErrorResult"
    },
    "ErrorDetails": {
      "type": "object",
      "properties": {
        "developerMsg": {
          "type": "string"
        },
        "errorCode": {
          "type": "string"
        },
        "errorField": {
          "type": "string"
        },
        "errorKey": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "errorResult": {
          "$ref": "#/definitions/BaseErrorResult"
        }
      },
      "title": "ErrorDetails"
    },
    "ErrorMessage": {
      "type": "object",
      "properties": {
        "errorId": {
          "type": "string",
          "example": 82,
          "description": "PSP native ID of the error"
        },
        "errorText": {
          "type": "string",
          "example": "Refused by Issuer",
          "description": "PSP native textual representation of the error"
        }
      },
      "title": "ErrorMessage"
    },
    "GenericResponse": {
      "type": "object",
      "properties": {
        "responseInfo": {
          "$ref": "#/definitions/ResponseInfo"
        },
        "result": {
          "type": "object"
        }
      },
      "title": "GenericResponse"
    },
    "PaymentInitiationRepresentation": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": "7686f7788898767977",
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "merchantOrderId": {
          "type": "string",
          "example": "8874C4DDC93A2E3C",
          "description": "Uniquely identifies a payment order for a merchant"
        },
        "vippsRedirectUrl": {
          "type": "string",
          "example": "https://psp.vipps.io",
          "description": "Vipps URL where customer can enter their mobile number"
        }
      },
      "title": "PaymentInitiationRepresentation"
    },
    "MakePaymentRequest": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": "7686f7788898767977",
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "merchantSerialNumber": {
          "type": "string",
          "example": 123456,
          "description": "Identifies a merchant"
        },
        "cardData": {
          "type": "string",
          "example": "f0a29801b4#d4ff30e221fa2980ff30e2",
          "description": "Encrypted credit card details"
        },
        "confirmed": {
          "type": "string",
          "example": "YES/TIMEOUT/CANCEL",
          "description": "Credit Card Details Encryption Status",
          "enum": [
            "YES",
            "TIMEOUT",
            "CANCEL"
          ]
        }
      },
      "title": "MakePaymentRequest"
    },
    "MakePaymentResponse": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "$ref": "#/definitions/ErrorMessage"
        },
        "paymentInfo": {
          "$ref": "#/definitions/PaymentInfo"
        }
      },
      "title": "MakePaymentResponse"
    },
    "InitiatePaymentRequest": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": "7686f7788898767977",
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "merchantOrderId": {
          "type": "string",
          "example": "8874C4DDC93A2E3C",
          "description": "Uniquely identifies a payment order for a merchant"
        },
        "customerMobileNumber": {
          "type": "string",
          "example": 92929292,
          "description": "Mobile number of the user who has to pay for the transaction from Vipps"
        },
        "amount": {
          "type": "integer",
          "format": "int32",
          "example": 100,
          "description": "Amount should be specified in øre. 100 øre conversion 1.00 NOK"
        },
        "currency": {
          "type": "string",
          "example": "NOK",
          "description": "ISO 4217 defined currency code. Currently Vipps only supports NOK"
        },
        "pspRedirectUrl": {
          "type": "string",
          "example": "https://psp-redirect.example.com",
          "description": "Vipps will use this URL to redirect end user after payment confirmation"
        },
        "makePaymentUrl": {
          "type": "string",
          "example": "https://psp-makepayment.example.com",
          "description": "PSP URL used by Vipps to send the card data"
        },
        "makePaymentToken": {
          "type": "string",
          "example": "ynuiu",
          "description": "Authorization header for MakePayment call"
        },
        "paymentText": {
          "type": "string",
          "example": "Description of payment",
          "description": "Text to be displayed to end user"
        },
        "isApp": {
          "type": "boolean",
          "example": true,
          "description": "Indicates whether payment request is triggered from Mobile App or Web browser"
        }
      },
      "title": "InitiatePaymentRequest"
    },
    "PaymentDetailsRepresentation": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": 12345692,
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "merchantOrderId": {
          "type": "string",
          "example": 56787837,
          "description": "Uniquely identifies a payment order for a merchant"
        },
        "transactionSummary": {
          "$ref": "#/definitions/TransactionSummary"
        },
        "transactionLogHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentTransactionDetails"
          }
        }
      },
      "title": "PaymentDetailsRepresentation"
    },
    "PaymentTransactionDetails": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "integer",
          "format": "int32",
          "example": 100,
          "description": "Amount should be specified in øre. 100 øre conversion 1.00 NOK"
        },
        "paymentText": {
          "type": "string",
          "example": "Description of payment",
          "description": "Transaction Note sent by PSP"
        },
        "timeStamp": {
          "type": "string",
          "example": "2018-06-13T18:34:25-07:00",
          "description": "Timestamp in ISO-8601 representing when Vipps did the payment"
        },
        "operation": {
          "type": "string",
          "example": "REFUNDED",
          "description": "Transaction Status"
        },
        "operationSuccess": {
          "type": "boolean",
          "example": false,
          "description": "Success or failure for the given operation"
        }
      },
      "title": "PaymentTransactionDetails"
    },
    "PaymentStatus": {
      "type": "object",
      "properties": {
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionInfo"
          }
        }
      },
      "title": "PaymentStatus"
    },
    "TransactionInfo": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": "7686f7788898767977",
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "status": {
          "type": "string",
          "example": "CAPTURED",
          "description": "PSP Transaction Status to be updated in Vipps",
          "enum": [
            "CAPTURED",
            "CANCELLED",
            "REFUNDED"
          ]
        },
        "amount": {
          "type": "integer",
          "format": "int32",
          "example": 100,
          "description": "Amount should be specified in øre. 100 øre conversion 1.00 NOK"
        },
        "currency": {
          "type": "string",
          "example": "NOK",
          "description": "ISO 4217 defined currency code. Currently Vipps only supports NOK"
        },
        "paymentText": {
          "type": "string",
          "example": "Description of payment"
        }
      },
      "title": "TransactionInfo"
    },
    "PaymentInfo": {
      "type": "object",
      "properties": {
        "pspTransactionId": {
          "type": "string",
          "example": "7686f7788898767977",
          "description": "Used as a globally unique transaction reference for the PSP systems"
        },
        "status": {
          "type": "string",
          "example": "OK",
          "description": "Status of the transaction",
          "enum": [
            "OK",
            "FAIL"
          ]
        }
      },
      "title": "PaymentInfo"
    },
    "ResponseInfo": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "string"
        },
        "responseMessage": {
          "type": "string"
        }
      },
      "title": "ResponseInfo"
    },
    "TransactionSummary": {
      "type": "object",
      "properties": {
        "capturedAmount": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Total amount captured"
        },
        "remainingAmountToCapture": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Total remaining amount to capture"
        },
        "refundedAmount": {
          "type": "integer",
          "format": "int32",
          "example": 1200,
          "description": "Total refunded amount"
        },
        "remainingAmountToRefund": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Total remaining amount to refund"
        }
      },
      "title": "TransactionSummary"
    }
  }
}